@import url("https://use.typekit.net/pjl8ymm.css");
@import url("http://fonts.cdnfonts.com/css/cocogoose");
body {
  margin: 0;
  padding: 0;
  font-family: lato, sans-serif;
  color: rgb(51, 51, 51);
}

section > img {
  width: 90%;
}

.mobile-logo-wrap {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 1em 0;
}
.mobile-logo-wrap img {
  width: 180px;
}

.mobile-menu-button {
  position: absolute;
  top: 35px;
  left: 20px;
  z-index: 1;
}

.see-more-speakers {
  display: flex;
  justify-content: center;
  font-size: 16px;
}
.see-more-speakers .button-speakers {
  background: transparent;
  border: 1px solid gray;
  border-radius: 3px;
  width: 90%;
  height: 50px;
}
.see-more-speakers a {
  font-family: lato, sans-serif;
  text-decoration: none;
  color: rgb(51, 51, 51);
}

.logos {
  margin-top: 15px;
  margin-bottom: 30px;
}
.logos img {
  border: 0;
}

.mobile-menu-display {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  background: #272a32;
  width: 80%;
  opacity: 85%;
  padding: 0 5%;
  height: 100%;
  z-index: 1;
}
.mobile-menu-display .mobile-menu-item {
  font-weight: bold;
  color: #fff;
  border-top: 1px solid #3c3f46;
}
.mobile-menu-display .mobile-menu-item a {
  color: #fff;
  text-decoration: none;
}

.align-self-fx-end {
  align-self: flex-end;
}

#close-mobile-menu {
  color: #fff;
  border: 0;
  font-size: 30px;
  font-weight: bold;
  background-color: #272a32;
}

.speaker-image img {
  width: 178px;
  border-radius: 8px;
}

.mobile-menu-wrap .mobile-menu-button img {
  width: 20px;
}

.wrap > section,
.wrap > div {
  width: 98%;
  max-width: 1100px;
  margin: 0 auto;
  align-items: center;
}

.main-wrap {
  font-size: 15px;
  width: 90%;
  margin-bottom: 4px;
  letter-spacing: 0;
  background-image: url(Images/main-bg-example.png);
}

.main-wrap section {
  display: flex;
  flex-direction: column;
  padding-top: 51px;
}
.main-wrap section .dates-container {
  align-self: flex-start;
  margin: 0 10px;
}
.main-wrap section .dates-container img {
  height: 40px;
  width: 350px;
  filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(350deg) saturate(600%) contrast(0.8);
}
.main-wrap section #main-title {
  display: flex;
  flex-wrap: wrap;
  align-self: flex-start;
  margin: 0 10px;
  color: #ec5242;
  font-family: "COCOGOOSE", sans-serif;
  font-size: 58px;
  filter: drop-shadow(2px 4px 6px black);
  font-weight: bolder;
}
.main-wrap section #main-title div {
  color: #ee8649;
}
.main-wrap section #title-image {
  filter: drop-shadow(2px 4px 6px black);
}
.main-wrap section .location-about {
  padding: 30px 0;
}

.wrap {
  width: 100%;
}

.message {
  margin: 17px 0.75em 0;
  padding: 1em 0.5em;
  border: 4px solid rgb(255, 255, 255);
  background-color: rgb(247, 247, 248);
  line-height: 150%;
  font-size: 13px;
  height: auto;
}

.location {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 40px;
  font-size: 1.125em;
  height: 95px;
  width: 100%;
}

.location .dateinfo {
  font-weight: bold;
  font-size: 30px;
  width: 90%;
  margin-bottom: 4px;
  letter-spacing: 0;
}

.location .locate {
  font-size: 20px;
  width: 90%;
}

.main-program-wrap {
  background-image: url(Images/main-program-pattern-bg.png);
  background-repeat: repeat;
  background-color: rgb(39, 42, 50);
  padding-bottom: 80px;
  height: auto;
}
.main-program-wrap .show-all-program {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-size: 16px;
}
.main-program-wrap .show-all-program a {
  color: #fff;
  margin-top: 20px;
  text-decoration: none;
}
.main-program-wrap .show-all-program a .button {
  color: #fff;
  background: #ec5242;
  cursor: pointer;
  width: 160px;
  height: 48px;
  transition: all 0.5s ease-out;
  border: none;
  font-weight: bold;
}
.main-program-wrap .show-all-program a .button:active {
  background-color: #ff6106;
}
.main-program-wrap .show-all-program a .button:hover {
  background: #fff5e1;
  color: #ec5242;
  transform: scale(1.1);
}

.main-program-wrap section {
  width: 95%;
  padding-top: 60px;
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
}

h1.normal {
  font-weight: normal;
  font-size: 24px;
  text-align: center;
}

h2.normal {
  font-weight: normal;
  font-size: 24px;
  text-align: center;
}

.guide-bar {
  width: 53px;
  height: 16px;
  border-bottom: 1px solid rgb(239, 81, 60);
  margin: 0 auto 54px;
}

.program-list {
  display: flex;
  gap: 30px;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  padding: 12px 0;
  margin: 0 0 0.5em 0;
  width: 100%;
}

.program-icon {
  margin: 0 0 0 0.5em;
  padding: 0;
}

.program-sub-title {
  font-size: 14px;
  line-height: 52px;
  color: rgb(239, 81, 60);
  font-weight: bold;
  text-align: center;
}
.program-sub-title p {
  margin: 0;
  width: 80px;
}

.program-sub-description {
  font-size: 0.75em;
  margin: 0 0.5em 0 0;
  width: 74%;
}

/*
.show-all-program a {
  color: #fff;
  margin-top: 20px;
  text-decoration: none;
} */
.end-bar {
  border-bottom: 1px solid #dfdfdf;
}

.main-speakers-wrap {
  height: auto;
  padding-bottom: 35px;
}

.main-speakers-wrap section {
  display: flex;
  flex-direction: column;
  padding-top: 79px;
  color: #272a32;
  height: auto;
}

.speaker-list {
  display: grid;
  grid-template-columns: auto;
}

.speaker {
  margin-bottom: 1.5em;
  margin-left: 0;
  gap: 0.5em;
}

.speaker-name {
  font-size: 22px;
  margin: 0;
}
.speaker-name p {
  margin: 0;
}

.organize {
  font-size: 13px;
  color: #ff4f38;
}
.organize p {
  margin: 0.5em 0;
}

.speaker-description {
  padding-right: 1em;
  line-height: 24px;
  font-size: 13px;
}

.guide-line {
  width: 24px;
  border-top: 1px solid #c2c2c2;
  margin-bottom: 24px;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.partner-wrap section {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
}
.partner-wrap section .partners {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  align-items: center;
}
.partner-wrap section .guide-bar {
  margin-bottom: 30px;
}

h3.normal {
  font-weight: normal;
  margin: 0;
}

.sponsor-wrap {
  padding-top: 30px;
}

.site-footer {
  line-height: 1.6;
}

.footer-black {
  display: flex;
  align-items: center;
  font-size: 0.875em;
  color: #fff;
  background-color: #2e2e2e;
  padding: 24px 0;
}

.ccl-logo {
  padding-top: 20px;
}

.ccl-info {
  font-size: 0.75em;
}

.content-cc {
  display: flex;
  gap: 30px;
  padding: 0 10%;
}

.about {
  margin: 0;
}

.guide-about {
  margin-bottom: 30px;
}

.header-wrap {
  display: none;
}

.display-none {
  display: none;
}

.past-winners section {
  display: flex;
  flex-direction: column;
}
.past-winners section .guide-bar {
  margin: 0 auto 40px;
}
.past-winners section .normal {
  margin-top: 40px;
  margin-bottom: 0;
}
.past-winners section .past-winners-list {
  margin-bottom: 50px;
}
.past-winners section .past-winners-list .past-winner {
  margin-bottom: 15px;
}
.past-winners section .past-winners-list .past-winner a button {
  font-size: 25px;
  color: #fff;
  background: #ec5242;
  cursor: pointer;
  width: 350px;
  height: 200px;
  transition: all 0.5s ease-out;
  border: none;
  background-image: url(Images/develope-week-bg-about.jpg);
  background-size: 350px;
}
.past-winners section .past-winners-list .past-winner a button:active {
  background-color: #ff6106;
}
.past-winners section .past-winners-list .past-winner a button:hover {
  background: #fff5e1;
  color: #ec5242;
  transform: scale(1.1);
}

#secondary-title {
  display: flex;
  flex-wrap: wrap;
  margin: 0 10px;
  color: #ec5242;
  font-family: "COCOGOOSE", sans-serif;
  font-size: 40px;
  filter: drop-shadow(2px 4px 6px black);
  font-weight: bolder;
}
#secondary-title div {
  color: #ee8649;
}

@media (min-width: 768px) {
  #about-header {
    position: fixed;
    z-index: 1;
    width: 100%;
  }
  #index-header {
    position: fixed;
    z-index: 1;
    width: 100%;
  }
  .menus ul {
    display: flex;
    padding: 0;
    gap: 30%;
    list-style: none;
    font-weight: bold;
  }
  .menus ul li a {
    text-decoration: none;
    color: grey;
  }
  .menus ul li:hover {
    transform: scale(1.2);
  }
  .main-program-wrap .show-all-program {
    display: none;
  }
  .main-program-wrap .show-all-program-desk {
    display: flex;
    width: fit-content;
    margin-top: 20px;
    font-size: 16px;
  }
  .main-program-wrap .show-all-program-desk a {
    color: #fff;
    margin-top: 20px;
    border-bottom: 1px solid #fff;
    text-decoration: none;
  }
  .top-menu-wrap {
    display: flex;
    background-color: #272a32;
    justify-content: flex-end;
  }
  .top-menu-wrap .top-menu {
    margin-right: 12%;
  }
  .top-menu-wrap .top-menu ul {
    display: flex;
    gap: 15px;
    list-style: none;
  }
  .top-menu-wrap .top-menu ul li a {
    color: #fff;
    text-decoration: none;
  }
  .top-menu-wrap .top-menu ul li:hover {
    transform: scale(1.1);
  }
  .past-winners section .past-winners-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  .speaker-list {
    grid-template-columns: auto auto;
  }
  .speaker {
    margin-left: 10px;
  }
  .see-more-speakers {
    display: none;
  }
  .mobile-logo-wrap {
    display: none;
  }
  .mobile-menu-button {
    display: none;
  }
  .header-content {
    display: flex;
    gap: 10%;
  }
  .main-menu img {
    width: 180px;
  }
  .header-wrap {
    display: flex;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.3);
    position: fixed;
    background: rgba(255, 255, 255, 0.9607843137);
    z-index: 1;
  }
  #secondary-title {
    font-size: 58px;
    margin-top: 60px;
  }
  .about-section img {
    width: 70%;
  }
  .about-section .message {
    background-color: #fff;
    border: 3px solid rgba(223, 223, 223, 0.7882352941);
    text-align: center;
  }
  .about-section .location-about .dateinfo {
    text-align: center;
  }
  .about-section .location-about .locate {
    text-align: center;
    font-weight: bold;
  }
  .main-wrap section {
    padding-top: 140px;
    display: block;
  }
  .main-wrap section #main-title {
    color: #ec5242;
    font-size: 80px;
    margin-top: 60px;
  }
  .main-wrap section .message {
    max-width: 60%;
  }
  .main-wrap section .msg-about {
    max-width: 80%;
  }
  .main-wrap section .location {
    display: block;
    padding-left: 15px;
    margin-bottom: 100px;
  }
  .main-wrap section .location .dateinfo {
    font-size: 50px;
    text-align: left;
  }
  .main-wrap section .location .locate {
    font-size: 20px;
    text-align: left;
  }
  .main-wrap .about-section {
    display: flex;
  }
  .main-wrap .about-section .location-about {
    padding-top: 40px;
    padding-bottom: 60px;
  }
  .desk-container {
    display: flex;
  }
  .desk-container .program-list {
    display: flex;
    flex-direction: column;
    gap: 0;
    width: 20%;
    margin-left: 5px;
  }
  .partner-wrap section .partners {
    gap: 40px;
  }
}

/*# sourceMappingURL=styles.css.map */
