@import url("https://use.typekit.net/pjl8ymm.css");
$font-lato: lato, sans-serif;

body {
  margin: 0;
  padding: 0;
  font-family: $font-lato;
  color: rgb(51, 51, 51);
}

.mobile-logo-wrap {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 1em 0;
  img {
    width: 180px;
  }
}

.mobile-menu-button {
  position: absolute;
  top: 35px;
  left: 20px;
  z-index: 1;
}

.mobile-menu-wrap
.mobile-menu-button
img {
  width: 20px;
}

.main-wrap {
  font-size: 15px;
  width: 90%;
  margin-bottom: 4px;
  letter-spacing: 0px;
  background-image: url(Images/main-bg-example.png);
  //background: linear-gradient(180deg, grey, transparent);
  //background-repeat: repeat-x;
}

.main-wrap section {
  display: flex;
  flex-direction: column;
  padding-top: 51px;
}

.wrap {
  width: 100%;
}

.wrap > section, .wrap > div {
  width: 98%;
  max-width: 1100px;
  margin: 0px auto;
  align-items: center;
}

section > img {
  width: 90%;
}

.message {
  margin: 17px 0.75em 0;
  padding: 1em 0.5em;
  border: 4px solid rgb(255, 255, 255);
  background-color: rgb(247, 247, 248);
  line-height: 150%;
  font-size: 13px;
  height: auto;
}

.location {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  font-size: 1.125em;
  height: 95px;
  padding-top: 40px;
  width: 100%;
}

.location .dateinfo {
  font-weight: bold;
  font-size: 15px;
  width: 90%;
  text-align: center;
  margin-bottom: 4px;
  letter-spacing: 0px;
}

.location .locate {
  font-size: 15px;
  width: 90%;
  text-align: center;
}

.main-program-wrap {
  background-image: url(Images/main-program-pattern-bg.png);
  background-repeat: repeat;
  background-color: rgb(39, 42, 50);
  padding-bottom: 80px;
  height: auto;
}

.main-program-wrap section {
  width: 95%;
  padding-top: 60px;
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
}

h1.normal {
  font-weight: normal;
  font-size: 24px;
}

.guide-bar {
  width: 53px;
  height: 16px;
  border-bottom: 1px solid rgb(239, 81, 60);
  margin: 0 auto 54px;
}

.program-list {
  display: flex;
  gap: 30px;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  padding: 12px 0;
  margin: 0 0 0.5em 0;
  width: 100%;
}

.program-icon {
  margin: 0 0 0 0.5em;
  padding: 0;
}

.program-sub-title {
  font-size: 14px;
  line-height: 52px;
  color: rgb(239, 81, 60);
  font-weight: bold;
  text-align: center;
  width: 26%;
  p {
    margin: 0;
    width: 80px;
  }
}

.program-sub-description {
  font-size: 0.75em;
  margin: 0 0.5em 0 0;
  width: 74%;
}

.show-all-program {
}

.main-program-wrap .show-all-program {
  margin-top: 20px;
  text-align: right;
  font-size: 16px
}

.show-all-program a {
  color: #fff;
  margin-top: 20px;
  text-decoration: none;
}

.end-bar {
  border-bottom: 1px solid #dfdfdf;
}

.main-speakers-wrap {
  height: auto;
  padding-bottom: 35px;
}

.main-speakers-wrap section {
  display: flex;
  flex-direction: column;
  padding-top: 79px;
  color: #272a32;
  height: auto;
}

.speaker-list {
  display: grid;
  grid-template-columns: auto;
}

.speaker {
  margin-bottom: 1.5em;
  margin-left: 0;
  gap: 0.5em;
}

.speaker-image {
  img {
    width: 178px;
    border-radius: 8px;
  }
}

.speaker-name {
  font-size: 22px;
  margin: 0;

  p {
    margin: 0;
  }
}

.organize {
  font-size: 13px;
  color: #ff4f38;
  p {
    margin: 0.5em 0;
  }
}

.speaker-description {
  padding-right: 1em;
  line-height: 24px;
  font-size: 13px;
}

.see-more-speakers {
  text-align: right;
  font-size: 16px;

  a{
    text-decoration: none;
    color: rgb(51, 51, 51);
  }
}

.guide-line {
  width: 24px;
  border-top: 1px solid #c2c2c2;
  margin-bottom: 24px;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.partner-wrap {
  section {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    .guide-bar{
      margin-bottom: 30px;
    }
  }
}

h3.normal {
  font-weight: normal;
  margin: 0;
}

.sponsor-wrap {
  padding-top: 30px;
}

.logos {
  margin-top: 15px;
  margin-bottom: 30px;

  img {
    width: 320px;
    border: 0;
  }
}

.site-footer {
  line-height: 1.6;
}

.footer-black {
  font-size: 0.875em;
  color: #fff;
  background-color: #2e2e2e;
  padding: 24px 0;
  height: 300px;
}

.ccl-logo {
  padding-top: 20px;
}

.ccl-info {
  font-size: .750em;
}

//ABOUT PAGE
.about {
  margin: 0;
}

.guide-about {
  margin-bottom: 30px;
}

.header-wrap {
  display: none;
}

@media (min-width: 768px){
  .speaker-list {
    grid-template-columns: auto auto;
  }

  .speaker {
    margin-left: 10px;
  }

  //REMOVE mobile nav
  .mobile-logo-wrap {
    display: none;
  }
  //REMOVE mobile menu button
  .mobile-menu-button {
    display: none;
  }

  .header-content {
    display: flex;
    gap: 10%;
  }

  .main-menu {
    //display: flex;
    //gap: 10%;
    img {
      width: 180px;
    }
  }

  .menus {
    //width: 40%;
    ul {
      display: flex;
      padding: 0;
      gap: 30%;
      list-style: none;
      font-weight: bold;
      li {
        a {
          text-decoration: none;
          color: grey
        }
      }
    }
  }

  .header-wrap {
    display: flex;
    //flex-direction: column;
    box-shadow: 0px 2px 8px 0px rgb(0 0 0 / 30%);
    position: relative;
  }

  //MAIN SECTION
  .main-wrap {
    section {
      padding-top: 140px;
      display: block;
      .message {
        max-width: 650px;
      }
      .location {
        display: block;
        padding-left: 15px;
        .dateinfo {
          text-align: left;
        }
        .locate {
          text-align: left;
        }
      }
    }
  }
}